language: php

php:
- '7.0'
- '7.1'
- hhvm
- nightly

before_script:
  - composer install
  - travis cache --delete

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true

notifications:
    on_success: never
    on_failure: always